.orange {
  color: red;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #dad5d5;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.new {
  position: absolute;
  left: 70%;
  top: 10%;
  background-color: aqua;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
